<h2> Welcome back! </h2>
<h4> Log in below </h4>

<%= form_for :user do |f| %>

Username: <%=f.text_field :name %> <br>
Password: <%=f.password_field :password_digest %>
<%= f.submit "Submit" %>
<% end %>